.containers {
  margin-left: toRem(20);
  margin-right: toRem(30);
  margin-top: toRem(10);

  @include desktop {
    margin-left: toRem(361);
    margin-right: toRem(360);
    margin-top: toRem(10);
    display: flex;
    flex-direction: row;
    gap: toRem(50);
  }
}

.containers__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
