.footer {
  width: 100%;
  height: toRem(55);
  background-color: #333;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: toRem(25);

  @include desktop {
    padding-right: toRem(406);
    height: toRem(75);
  }

  &__copyright {
    font-size: 10px;
    color: #fff;

    @include desktop {
      font-size: $fs-x-small;
    }
  }
}
