.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(17);
  max-width: toRem(440);

  &__wrapper {
    width: toRem(210);
    border-top: toRem(1) solid #42a7c2;
    margin-top: toRem(40);

    @include desktop {
      width: toRem(457);
    }
  }

  &__title {
    width: fit-content;
    border-top: toRem(3) solid #42a7c2;
    font-size: $fs-x-large;
    color: $color-secondary;
    font-weight: 500;
    padding-top: toRem(25);

    @include desktop {
      font-size: $fs-large;
    }
  }

  &__item {
    font-size: $fs-small;
    color: $color-secondary;
    margin-top: toRem(19);

    @include desktop {
      font-size: $fs-x-medium;
    }
  }
}
